/* Colors in scheme from darkest to lightest:
navy blue -- #2D3142
gunmetal blue -- #4F5D75 or 9fc6cc
orange -- #EF8354
silver -- #BFC0C0
white -- #FDFDFD
https://coolors.co/2d3142-4f5d75-bfc0c0-ffffff-ef8354
*/

/* Header Styles */

header, footer {
  background-color: #abc7cc;
  height: 100px;
}

header img{
  display: flex;
  justify-content: center;
  height: 100px;
  width: 380px;
}


/* Body Styles */

h2 {
  display: flex;
  justify-content: center;
  font-family: 'Quicksand';
  font-size: 2rem;
}

.row.aboutUsPage {
  margin-top: 12rem;
}

body p {
  font-family: 'Open Sans';
}

body h2, body p {
  margin-top: 12rem;
}

a:hover {
  color: #2D3142;
  text-decoration: none;
}

/* Footer Styles */

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

footer a {
  font-family: 'Quicksand';
}

footer p {
  display: flex;
  justify-content: flex-end;
}

/* Imported from The Hive */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 3; }

main {
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 50px;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 2em;
  padding-right: 17px;
  z-index: 1;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  overflow: hidden;
}

.usImage {
  width: 90%;
}

/* Media Queries */
